.collection {
  padding-bottom: 80px;
  background-image: url('../../images/collection/decor-collection.svg');
  background-repeat: no-repeat;
  background-size: 199px 177px;
  background-position: left -125px bottom 172px;

  @media (min-width: 768px) {
    background-size: 338px 300px;
    background-position: left -224px bottom 200px;
  }

  @media (min-width: 1280px) {
    background-position: left -170px bottom 200px;
  }
}

.collection-title {
  text-align: center;
  margin-bottom: 40px;
}

.collection__img-container {
  margin-bottom: 18px;
}

.collection__img {
  max-width: 100%;
  border-radius: 4px;
}

.collection__card-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $colorWhite;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 8px;

  @media (min-width: 768px) {
    font-size: 18px;
  }
}

.collection__card-price {
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.05em;
  color: rgba(252, 249, 249, 0.4);

  @media (min-width: 768px) {
    font-size: 18px;
  }
}

.collection__swiper-pagination {
  position: relative;
  bottom: auto;
  text-align: center;
  margin-top: 14px;

  @media screen and (min-width: 768px) {
    margin-top: 21px;
  }
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: gray;
}

.swiper-pagination-bullet-active {
  background-color: $colorYellow;
}