.footer {
  padding-top: 40px;
  padding-bottom: 280px;
  border-top: 1px solid rgba(252, 249, 249, 0.1);
  background-image: url("../../images/footer/footer-decor.svg");
  background-repeat: no-repeat;
  background-size: 452px 401px;
  background-position: center bottom -203px;

  @media (min-width: 768px) {
    padding-bottom: 40px;
    background-position: center right -260px;
  }

  @media (min-width: 1280px) {
    background-size: 595px 528px;
  }

  @media (min-width: 1280px) {
    background-position: center right -94px;
  }
}

.footer__nav-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 25px;
  margin-bottom: 40px;

  @media (min-width: 768px) {
    margin-bottom: 80px;
    gap: 25px;
  }

  @media (min-width: 1280px) {
    margin-bottom: 117px;
  }
}

.footer__nav-link {
  position: relative;
  font-size: 14px;
  line-height: 1.28;
  text-transform: uppercase;
  color: $colorWhite;
  transition: color 0.25s linear;

  &:hover,
  &:focus {
    color: $colorYellow;
  }
}

.footer__nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  display: block;
  height: 2px;
  width: 100%;
  background-color: $colorYellow;
  border-radius: 5px 5px 0px 0px;
  transform: scaleX(0);
  transition: transform 350ms linear;
}

.footer__nav-link:hover::after,
.footer__nav-link:focus::after {
  transform: scaleX(1);
  transition: transform 350ms linear;
}

.footer__nav-item:first-child {
  margin-right: 65px;

  @media (min-width: 375px) {
    margin-right: 89px;
  }
  @media (min-width: 768px) {
    margin-right: 0;
  }
}

.footer__nav-item:nth-child(3) {
  margin-right: 36px;

  @media (min-width: 768px) {
    margin-right: 0;
  }
}

.footer__title {
  font-weight: 400;
  font-size: 44px;
  line-height: 1.22727;
  letter-spacing: -0.03em;
  color: $colorWhite;

  @media (min-width: 768px) {
    font-size: 54px;
    line-height: 1.18519;
    max-width: 521px;
    letter-spacing: 0;
  }

  @media (min-width: 1280px) {
    max-width: 773px;
    font-size: 64px;
    line-height: 1.15625;
  }
}

.footer__title span {
  color: $colorYellow;
}
