.hero {
  padding-top: 84px;
  padding-bottom: 80px;
}

.hero__title {
  font-weight: 400;
  font-size: 44px;
  line-height: 1.09;
  letter-spacing: -0.03em;
  color: $colorWhite;
  margin-bottom: 20px;

  @media (min-width: 768px) {
    font-weight: 400;
    font-size: 54px;
    line-height: 1.19;
    letter-spacing: -0.03em;
    margin-bottom: 40px;
  }
}

.hero__title span {
  color: $colorYellow;
}

.hero__link {
  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 15px;
  padding: 14px 32px;
  width: 154px;
  height: 49px;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: $colorWhite;
  cursor: pointer;
  margin-left: 70px;
  margin-bottom: 40px;
}

.hero__arrow {
  margin-left: 10px;
}

.hero__img {
  max-width: 100%;
  border-radius: 4px;
}
