.hero {
  padding-top: 84px;
  padding-bottom: 80px;
}

@media (min-width: 768px) {
  .hero__content {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: 768px) {
  .hero__title-box {
    max-width: 549px;
  }
}
@media (min-width: 1280px) {
  .hero__title-box {
    padding-top: 94px;
    margin-left: 40px;
    max-width: 505px;
  }
}
@media (min-width: 1440px) {
  .hero__title-box {
    padding-top: 66px;
    max-width: 600px;
  }
}

.hero__title {
  font-weight: 400;
  font-size: 44px;
  line-height: 1.09;
  letter-spacing: -0.03em;
  color: $colorWhite;
  margin-bottom: 20px;

  @media (min-width: 768px) {
    font-size: 54px;
    line-height: 1.19;
    letter-spacing: -0.03em;
    margin-bottom: 40px;
  }

  @media (min-width: 1440px) {
    font-size: 64px;
    line-height: 1.16;
  }
}

.hero__title span {
  color: $colorYellow;
}

.hero__link {
  display: flex;
  align-items: baseline;
  justify-content: center;
  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 15px;
  padding: 14px 32px;
  width: 154px;
  height: 49px;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: $colorWhite;
  cursor: pointer;
  margin-left: 70px;
  margin-bottom: 40px;

  @media (min-width: 768px) {
    font-size: 16px;
    padding: 14px 39px;
    width: 168px;
    height: 50px;
    margin-left: 141px;
    margin-bottom: 46px;
  }

  @media (min-width: 1280px) {
    margin-bottom: 0;
    margin-left: 181px;
  }

  @media (min-width: 1440px) {
    margin-left: 141px;
  }
}

.hero__arrow {
  margin-left: 10px;
}

.hero__star-box {
  display: none;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 116px;
    max-height: 121px;
  }

  @media (min-width: 1280px) {
    margin-top: 14px;
    margin-left: 124px;
  }

  @media (min-width: 1440px) {
    margin-top: 66px;
    margin-left: 86px;
  }
}

.hero__star-img {
  width: 52px;
  margin: 0 auto;
  animation: rotate 10s infinite;
  transform-origin: center;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.hero__star-text {
  font-size: 16px;
  letter-spacing: -0.04em;
  text-align: center;
  color: rgba(252, 249, 249, 0.4);
}

.hero-swiper {
  max-width: 392px;
  margin: 0;
  border-radius: 4px;
  overflow: hidden;

  @media (min-width: 1280px) {
    order: -1;
  }
}

.hero__img {
  max-width: 100%;
  border-radius: 4px;
}
